<div class="flex h-screen bg-gray-100">

    <!-- sidebar -->
    <div class="hidden md:flex flex-col w-64 bg-gray-800">
        <div class="flex items-center justify-center h-16 bg-gray-100">
            <img class="w-auto h-8 mr-2" src="images/logo.svg" alt="logo">
        </div>
        <div class="flex flex-col flex-1 overflow-y-auto">
            <nav class="flex-1 px-2 py-4 bg-white">
                <a  href="#" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-100 gap-4">
                    <i class="pi pi-bars"></i>
                    Dashboard
                </a>
                <a routerLink="/dashboard/patientForm" class="flex items-center px-4 py-2 mt-2 text-gray-700 hover:bg-gray-100 gap-4">
                    <i class="pi pi-user-plus"></i>
                    Create Patients
                </a>
                <a routerLink="/dashboard/viewPatients" class="flex items-center px-4 py-2 mt-2 text-gray-700 hover:bg-gray-100 gap-4">
                    <i class="pi pi-eye"></i>
                    View Patients
                </a>
            </nav>
        </div>
    </div>

    <!-- Main content -->
    <div class="flex flex-col flex-1 overflow-y-auto">
        <div class="flex items-center justify-between h-16 bg-white border-b border-gray-200">
            <div class="flex items-center px-4">
                
            </div>
            <div class="flex items-center pr-4">
                <p-menu #menu [model]="items" [popup]="true" />
                <p-avatar (click)="menu.toggle($event)" label="P" styleClass="mr-2" size="normal" shape="circle" />
            </div>
        </div>
         <router-outlet></router-outlet>
    </div>
</div>