<div class="card">
    <p-table
      class="mt-base"
      #dt2
      [value]="patients"
      dataKey="id"
      [rows]="10"
      [rowsPerPageOptions]="[1, 25, 50]"
      [loading]="false"
      [paginator]="true"
      [globalFilterFields]="['first_name', 'last_name', 'state', 'status']"
      [tableStyle]="{ 'min-width': '75rem' }"
    >
      <!-- Table Caption -->
      <ng-template #caption>
        <div class="flex items-center">
          <h5 class="font-bold">Patient List</h5>
          <div class="flex items-center gap-sm ml-auto">
            <!-- Filter by State -->
            <p-columnFilter
              type="text"
              field="state"
              placeholder="Filter by State"
              ariaLabel="Filter State"
            ></p-columnFilter>
  
            <!-- Filter by Status -->
            <p-dropdown
              [options]="statusOptions"
              [(ngModel)]="selectedStatus"
              optionLabel="label"
              optionValue="value"
              placeholder="Filter by Status"
              (onChange)="onStatusFilterChange($event, dt2)"
            ></p-dropdown>
  
            <!-- Global Search -->
            <p-iconField iconPosition="left">
              <input
                pInputText
                type="text"
                (input)="onGlobalSearch($event, dt2)"
                placeholder="Search by First Name or Last Name"
              />
              <p-inputIcon>
                <i class="pi pi-search"></i>
              </p-inputIcon>
            </p-iconField>
          </div>
        </div>
      </ng-template>
  
      <!-- Table Header -->
      <ng-template #header>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Mobile Number</th>
          <th>State</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </ng-template>
  
      <!-- Table Body -->
      <ng-template #body let-patient>
        <tr>
          <td>{{ patient.first_name }}</td>
          <td>{{ patient.last_name }}</td>
          <td>{{ patient.email }}</td>
          <td>{{ patient.mobile_phone }}</td>
          <td>{{ patient.state }}</td>
          <td>
              {{ patient.status ? 'Active' : 'Inactive'}}
          </td>
          <td>
            <div class="flex gap-base">
              <!-- Edit Button -->
              <div class="cursor-pointer"  (click) = "editPatient(patient._id)">
                <i class="pi pi-pencil text-blue-700"  ></i>
              </div>
              <!-- Delete Button -->
              <div class="cursor-pointer">
                <i class="pi pi-trash text-red-500"  (click) = "deletePatient(patient._id)"></i>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  